<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Judul Permanent
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card *ngFor="let i of [1,2]" (click)="presentAlertConfirm()">
  <img src="https://images.unsplash.com/photo-1609958740772-10b4c2322b95?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
  <ion-card-header>
    <ion-card-subtitle>Destination</ion-card-subtitle>
    <ion-card-title>Madison, Wi</ion-card-title>    
  </ion-card-header>
  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde corporis natus soluta qui nisi quasi. Illum, saepe. Iste, dolores dignissimos.
  </ion-card-content>
</ion-card>